<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Go to <a id="link" href=""></a></p>
    </div>
    <script>
        document.getElementById("link").href = window.location.href+"api/v1/list-songs";
        document.getElementById("link").innerHTML = window.location.href+"api/v1/list-songs";
    </script>
</body>
</html>